:root {
    --violet: #765FF7;
    --dark-violet: #634fd1;
    --black: #160F3D;
    --white: #F8F7FD;
    --light-gray: #EEECF9;
    --gray: #D3D2DE;
    --dark-gray: #8A8897;
    --red: #F53D3D;
    --dark-red: #db3737;
    --grid-width-xs: 22.5rem;
    --grid-width-sm: 30rem;
}

* {
    box-sizing: border-box;
}

*:not(pre):not(code) {
    font-family: 'Inter', sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
}

::selection {
    background-color: var(--violet);
    color: var(--white);
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 3rem;
}

h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

button, .btn {
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0.02rem;
    text-decoration: none;
    cursor: pointer;
}

.bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
}

.small {
    font-weight: 500;
    font-size: .75rem;
}

.btn-primary {
    background-color: var(--violet);
    color: var(--white);
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 0.5rem;

    &:hover {
        background-color: var(--dark-violet);
    }
}

.btn-error {
    background-color: var(--red);
    color: var(--white);
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 0.5rem;

    &:hover {
        background-color: var(--dark-red);
    }
}

.btn:disabled {
    cursor: not-allowed;
    filter: brightness(0.8) contrast(0.9);
}

.input-field {
    display: block;
    padding: .75rem;
    border: 1px solid var(--gray);
    background-color: var(--white);
    border-radius: 0.5rem;
    outline: none;

    &:focus {
        border-color: var(--violet);
    }
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .25rem;

    label {
        margin: 0;
        user-select: none;
    }

    input {
        accent-color: var(--violet);
    }
}

.error {
    color: var(--red);
    font-weight: 500;
}

.link, .link:link, .link:visited {
    color: var(--violet);
}

.hidden {
    display: none;
}

main.main {
    min-height: calc(100vh - 5rem); // 5rem = header height
    display: grid;
    place-items: center;
    margin-top: 5rem;
    padding: 2rem;

    @media (max-width: 48rem) {
        min-height: calc(100vh - 4rem); // 4rem = tablet & mobile header height
        margin-top: 4rem;
        padding: 0;
    }

    @media (max-width: 32rem) {
        margin: 0 0 4rem 0;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: var(--light-gray);
    border-radius: 1rem;
    position: relative;
}

.section-md {
    max-width: 48rem;

    @media screen and (max-width: 48rem) {
        background-color: var(--white);
    }

    @media screen and (max-width: 32rem) {
        padding: 1rem;
    }
}

.section-sm {
    max-width: 32rem;

    @media screen and (max-width: 32rem) {
        background-color: var(--white);
        padding: 1rem;
    }
}

.section-xsm {
    max-width: 24rem;

    @media screen and (max-width: 24rem) {
        background-color: var(--white);
        padding: 1rem;
    }
}
