@import '../base';
@import '../components/navbar';
@import '../components/grade';

.cross {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: var(--violet) 2px solid;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: auto;
}

.validation {
    display: inline-flex;
}

.appliance-header {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 1rem;
}

.company-logo {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
}

.appliance-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 4rem;
}
