@import '../base';
@import '../components/navbar';
@import '../components/dashboard/aside';
@import '../components/dashboard/list';
@import '../components/dashboard/edit';

main.main {
    @media screen and (max-width: 67rem) {
        margin-bottom: 3rem; // Space for the bottom navigation button
        min-height: calc(100vh - 5rem - 3rem); // 5rem = header height
    }

    @media screen and (max-width: 48rem) {
        margin-bottom: 4rem; // Smaller navbar
        place-items: baseline;
        min-height: calc(100vh - 4rem - 4rem); // 4rem = header height
    }

    @media screen and (max-width: 32rem) {
        margin-bottom: 8rem; // Bottom navbar
        min-height: calc(100vh - 4rem - 8rem); // 4rem = header height
    }
}

.dashboard-container {
    display: grid;
    grid-template-columns: auto 48rem;
    place-content: center;
    gap: 2rem;

    @media screen and (max-width: 67rem) {
        grid-template-columns: unset;
        width: 100%;
    }
}

section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1.5rem;
    background-color: var(--light-gray);
    border-radius: 1rem;

    @media screen and (max-width: 67rem) {
        width: calc(100vw - 4rem);
        max-width: 48rem;
    }

    @media screen and (max-width: 48rem) {
        padding: 1rem;
        background-color: var(--white);
        width: 100vw;
    }
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.icon-btn-group {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 48rem) {
        gap: .5rem;
    }
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--violet);
    color: var(--white);
    font-size: 1.25rem;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: var(--dark-violet);
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.red-icon-btn {
    background-color: var(--red);

    &:hover {
        background-color: var(--dark-red);
    }
}

label {
    display: block;
    margin: 1rem 0 .5rem;
}

form input:not([type="checkbox"]):not([type="radio"]), form select {
    width: 100%;
}

.field-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media screen and (max-width: 32rem) {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

.checkbox {
    height: 2.5rem;
}
