@import '../base';
@import '../components/navbar';
@import '../components/dashboard/aside';
@import '../components/dashboard/list';
@import '../components/dashboard/edit';

main {
    display: grid;
    grid-template-columns: auto 48rem;
    place-content: center;
    gap: 2rem;
    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1.5rem;
    background-color: var(--light-gray);
    border-radius: 1rem;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--violet);
    color: var(--white);
    font-size: 1.25rem;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: var(--dark-violet);
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

label {
    display: block;
    margin: 1rem 0 .5rem;
}

form input:not([type="checkbox"]):not([type="radio"]), form select {
    width: 100%;
}

.field-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.checkbox {
    height: 2.5rem;
}
