@import '../base';
@import '../components/navbar';

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: var(--grid-width-xs);
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--light-gray);
}

label {
    display: block;
    margin-bottom: .75rem;
}

form input {
    width: 100%;
}

form button {
    width: 100%;
    margin-top: .5rem;
}
