@import '../base';
@import '../components/navbar';

.profile-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-subsection {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.identity {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.identity-logo {
    display: grid;
    place-items: center;
    width: 1.75rem;
    min-width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--violet);
    color: var(--white);
}

.identity-name {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

section p {
    margin: 0;
}

.internships-section {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.internship-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 10rem;
    height: fit-content;
    padding: 1rem;
    background-color: var(--white);
    border-radius: .5rem;
    color: inherit;
    text-decoration: none;

    @media screen and (max-width: 48rem) {
        background-color: var(--light-gray);
    }
}

.profile-section form {
    margin: 0;
}
