@import '../base';
@import '../components/navbar';

#search-form {
  text-align: center;
  margin: auto;

  label {
    display: none;
  }

  #search-form-input {
    position: relative;
    top: 100%;
    margin: auto;
    width: 75%;
  }

  #search-form-button {
    margin: 1.5em 0;
  }
}