@import '../base';
@import '../components/navbar';

@mixin flex($direction, $spacing: 1rem) {
  display: flex;
  flex-direction: $direction;
  gap: $spacing;
}

@mixin back-border($color: var(--light-gray), $width: 10px, $radius: 10px) {
  background-color: $color;
  border: $color solid $width;
  border-radius: $radius;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;

  @media (max-width: 32rem) {
    min-height: calc(100vh - 4rem);
  }
}

section {
  @include flex(row);
  width: 50rem;

  #filter-zone {
    @include flex(column, 0);
    @include back-border();
    width: 25rem;
    padding: 1rem 1rem 0 1rem;

    #filters {
      @include flex(column);

      .filters-research-type {
        @include flex(row, 0.5rem);
      }

      #filter-search-input {
        display: none;
      }
    }
  }

  #search-zone {
    @include flex(column);

    #search-bar {
      @include flex(row, 0);
      margin: 0;

      #search-bar-input {
        width: 25rem;
        margin-right: 1rem;
      }
    }

    #results-list {
      @include flex(column);
      margin: 0;
      padding: 0;
      width: 100%;
      height: 500px;

      .result {
        @include flex(column);
        @include back-border();
        list-style: none;

        a {
          text-decoration: none;
          color: var(--black);
        }

        img {
          width: 67.5px;
          height: 67.5px;
          border-radius: 10px;
        }

        #company {
          @include flex(row);
        }

        p {
          margin: 0;
        }
      }
    }
  }

  #page-zone {
    @include flex(column);
  }
}