@import '../base';
@import '../components/navbar';

main {
  min-height: 100vh;
  display: grid;
  place-items: center;

  @media (max-width: 32rem) {
    min-height: calc(100vh - 4rem);
  }
}

section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 50rem;

  #filter-zone {
    display: flex;
    flex-direction: row;
    gap: 1em;
    background-color: var(--light-gray);
    border: var(--light-gray) solid 10px;
    border-radius: 10px;
    width: 25rem;
  }

  #search-zone {
    display: flex;
    flex-direction: column;
    gap: 1em;

    #search-form {
      display: flex;
      flex-direction: row;
      gap: 1em;

      label {
        display: none;
      }

      #search-form-input {
        width: 25rem;
      }
    }

    #results-list {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin: 0;
      padding: 0;

      .result {
        display: flex;
        flex-direction: row;
        gap: 1em;
        background-color: var(--light-gray);
        border: var(--light-gray) solid 10px;
        border-radius: 10px;
        list-style: none;

        img {
          width: 75px;
          height: 75px;
          border-radius: 10px;
        }
      }
    }
  }
}