@import '../../base';

#logo-preview span {
    margin: 1rem 0 .5rem;
    display: block;
}

#logo-preview img {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 8rem;
}

.pills-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.pill {
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid var(--violet);
    user-select: none;

    input {
        display: none;
    }

    &:hover {
        border-color: var(--dark-violet);
        background-color: var(--gray);
    }

    &.active {
        background-color: var(--violet);
        color: var(--white);

        &:hover {
            background-color: var(--dark-violet);
        }
    }
}

.student-appliances-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.student-appliance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--white);
    border: 1px solid var(--gray);
    
    @media screen and (max-width: 48rem) {
        align-items: baseline;
        flex-direction: column;
        gap: .5rem;
    }

    .btn {
        height: fit-content;
    }
}

.student-appliance-internship {
    margin-bottom: .5rem;
}
