@import '../../base';

table {
    width: 100%;
    border-collapse: collapse;
}

tbody tr {
    cursor: pointer;

    &:hover {
        background-color: var(--gray);
        
        @media screen and (max-width: 48rem) {
            background-color: var(--light-gray);
        }
    }
}

td, th {
    padding: .5rem 1rem;

    &:first-of-type {
        padding-left: 0;
    }

    &:last-of-type {
        padding-right: 0;
    }
}

th {
    text-align: left;
    border-bottom: 1px solid var(--gray);
}

tr:not(:last-child) {
    td {
        border-bottom: 1px solid var(--gray);
    }
}

.sm-hide {
    @media screen and (max-width: 32rem) {
        display: none;
    }
}
